#accordion .card{
  //background-color: #fafafa;
}
.input-group{
  display: inline-flex !important;
  width: 50% !important;
  input{
    width: auto !important;
  }
}
.tools{
  display: inline !important;
}
form{
  display: inline !important;
}
.accordion .card-header button[aria-expanded='true'] #widgetRowForm .icon {
  -webkit-transform: rotate(0deg);
  transform: rotate(0);
}
.icon-container{
  padding: 0 !important;
  background-color: transparent;
}

.widget img{
  min-height: 100%;
  min-width: 100%;
}
.widget-chart-container{
  overflow: hidden;
}
