<div class="row" *ngFor="let widgetRow of widgetRows">
  <div class="col-12"
       [ngClass]="widgetRow.widget.length==1?'col-lg-12':widgetRow.widget.length==2?'col-lg-6':'col-lg-4'"
       *ngFor="let widgetItem of widgetRow.widget">
    <div class="widget be-loading">
      <div class="widget-head">
        <div class="tools"><span class="icon mdi mdi-chevron-down"></span><span class="icon mdi mdi-refresh-sync toggle-loading"></span><span class="icon mdi mdi-close"></span></div>
        <div class="title">{{widgetItem.id}}</div>
      </div>
      <div class="widget-chart-container">
        <div id="top-sales" style="height: 178px;"></div>
        <div class="chart-pie-counter">36</div>
      </div>
      <div class="chart-legend">
        <table>
          <tr>
            <td class="chart-legend-color"><span data-color="top-sales-color1"></span></td>
            <td>Premium Purchases</td>
            <td class="chart-legend-value">125</td>
          </tr>
          <tr>
            <td class="chart-legend-color"><span data-color="top-sales-color2"></span></td>
            <td>Standard Plans</td>
            <td class="chart-legend-value">1569</td>
          </tr>
          <tr>
            <td class="chart-legend-color"><span data-color="top-sales-color3"></span></td>
            <td>Services</td>
            <td class="chart-legend-value">824</td>
          </tr>
        </table>
      </div>
      <div class="be-spinner">
        <svg width="40px" height="40px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
          <circle fill="none" stroke-width="4" stroke-linecap="round" cx="33" cy="33" r="30" class="circle"></circle>
        </svg>
      </div>
    </div>
  </div>
</div>

