
//BS customisations go here



//Beagle customisations go here
/*
$left-sidebar-bg:                           #3d3c3c !default;
$left-sidebar-color:                        #f5f5f5 !default;
$left-sidebar-sub-level-color:              $left-sidebar-color !default;
$left-sidebar-sub-level-bg:                 darken($left-sidebar-bg, 2.8%) !default;
*/


@import "beagle";
