<div class="card card-table">
  <div class="card-header">Users
    <div class="tools dropdown"><span class="icon mdi mdi-download"></span><a href="#" role="button" data-toggle="dropdown" class="dropdown-toggle"><span class="icon mdi mdi-more-vert"></span></a>
      <div role="menu" class="dropdown-menu"><a href="#" class="dropdown-item">Action</a><a href="#" class="dropdown-item">Another action</a><a href="#" class="dropdown-item">Something else here</a>
        <div class="dropdown-divider"></div><a href="#" class="dropdown-item">Separated link</a>
      </div>
    </div>
  </div>
  <div class="card-body">
    <!--<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped table-hover table-fw-widget">-->
      <!--<thead>-->
      <!--<tr>-->
        <!--<th>Username</th>-->
        <!--<th>Email</th>-->
      <!--</tr>-->
      <!--</thead>-->
      <!--<tbody>-->
      <!--<tr *ngFor="let user of users">-->
        <!--<td>{{ user.id }}</td>-->
        <!--<td>{{ user.email }}</td>-->
      <!--</tr>-->
      <!--</tbody>-->
    <!--</table>-->


    <div class="card-body table-responsive">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped table-hover table-fw-widget">
        <thead>
        <tr>
          <th style="width:37%;">User</th>
          <th style="width:36%;">Email</th>
          <th>Contact</th>
          <th class="actions"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
          <td class="user-avatar"> <img src="assets/img/avatar6.png" alt="Avatar">{{ user.userName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.phoneNumber ? user.phoneNumber : '-' }}</td>
          <td class="actions"><a href="#" class="icon"><i class="mdi mdi-github-alt"></i></a></td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
