<div class="card card-table">
  <div class="card-header">Users
    <div class="tools dropdown"><span class="icon mdi mdi-download"></span><a href="#" role="button" data-toggle="dropdown" class="dropdown-toggle"><span class="icon mdi mdi-more-vert"></span></a>
      <div role="menu" class="dropdown-menu"><a href="#" class="dropdown-item">Action</a><a href="#" class="dropdown-item">Another action</a><a href="#" class="dropdown-item">Something else here</a>
        <div class="dropdown-divider"></div><a href="#" class="dropdown-item">Separated link</a>
      </div>
    </div>
  </div>
  <div class="card-body">


    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped table-hover table-fw-widget">
      <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let person of persons">
        <td>{{ person.first }} {{ person.last }}</td>
        <td>{{ person.email }}</td>
      </tr>
      </tbody>
    </table>



  </div>
</div>
